.ant-drawer-header-title {
  flex-direction: row-reverse;
  }
  .ant-btn-primary {
    color: white !important;
    background-color: #1890ff !important;
  }

  .ant-menu-submenu-title:hover {
    background-color: transparent !important;
  }

  .ant-menu-vertical >.ant-menu-submenu>.ant-menu-submenu-title {
    padding: 0px;
    margin: 0px;
  }

  .ant-drawer-mask {
    background: rgba(0, 0, 0, 0.3) !important;
    transition: all ease-out .2s;
  }

  .ant-drawer-mask:hover {
    background: rgba(0, 0, 0, 0.1)  !important;
    transition: all ease-in .2s;
  }

  .ant-modal-mask {
    background: rgba(0, 0, 0, 0.3) !important;
    transition: all ease-out .2s;
  }

  .ant-modal-content:not(:hover) .ant-modal-mask {
    background: rgba(0, 0, 0, 0.1)  !important;
    transition: all ease-in .2s;
  }

  .ant-tabs-content-holder {
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 2rem;
  }